<div class="container pt-3">
  <form>
    <div class="d-flex flex-column form-group">
      <label>Nom</label>
      <input type="text" />
    </div>
    <div class="d-flex flex-column form-group">
      <label>EMail</label>
      <input type="email" />
    </div>
    <div class="d-flex flex-column form-group">
      <label>PassWord</label>
      <input type="password" />
    </div>
    <div class="d-flex flex-column form-group">
      <label>Confirmation</label>
      <input type="password" />
    </div>
    <button class="btn btn-primary mt-2">valider</button>
  </form>
</div>
